@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Jost:wght@300&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap"); */
* {
  font-family: var(--fontCormorant);
}
.App {
  /* text-align: center; */
}

:root {
  --greenBlack: rgb(15, 14, 3);
  --creamish: rgb(177, 142, 67);
  --fontJost: "Jost";
  --fontCormorant: "Cormorant Garamond";
}
